<div class="w-4/5 mx-auto mt-24">
  <h6 class="mt-24 text-center font-Nunito text-light-green  relative font-extrabold text-lg ">SERVICES</h6>
  <p class="mt-3 text-5xl font-Nunito font-bold mb-9 text-center">Our Services</p>
  <div class="grid grid-cols-4 gap-10">
    <div class="px-5 py-6 shadow-shadow-service hover:bg-light-green hover:text-gray-200 hover:delay-175 group">
      <p class="text-5xl text-light-green mb-3 group-hover:text-gray-200 group-hover:delay-175"> <i
          class="pi pi-globe"></i></p>
      <h6 class="text-xl font-Nunito font-bold mb-3 group-hover:text-gray-200 group-hover:delay-175">WorldWide Tours
      </h6>
      <p class="text-md font-Nunito text-gray-600 group-hover:text-gray-200 group-hover:delay-175">Diam elitr kasd sed
        at elitr sed ipsum justo dolor sed clita amet diam</p>
    </div>
    <div class="px-4 py-5 shadow-shadow-service hover:bg-light-green hover:text-gray-200 hover:delay-175 group">
      <p class="text-5xl text-light-green mb-3 group-hover:text-gray-200 group-hover:delay-175"> <i
          class="pi pi-database"></i></p>
      <h6 class="text-xl font-Nunito font-bold mb-3 group-hover:text-gray-200 group-hover:delay-175">Event Management
      </h6>
      <p class="text-md font-Nunito text-gray-600 group-hover:text-gray-200 group-hover:delay-175">Diam elitr kasd sed
        at elitr sed ipsum justo dolor sed clita amet diam</p>
    </div>
    <div class="px-4 py-5 shadow-shadow-service hover:bg-light-green hover:text-gray-200 hover:delay-175 group">
      <p class="text-5xl text-light-green mb-3 group-hover:text-gray-200 group-hover:delay-175"> <i
          class="pi pi-home"></i></p>
      <h6 class="text-xl font-Nunito font-bold mb-3 group-hover:text-gray-200 group-hover:delay-175">Hotel Reservation
      </h6>
      <p class="text-md font-Nunito text-gray-600 group-hover:text-gray-200 group-hover:delay-175">Diam elitr kasd sed
        at elitr sed ipsum justo dolor sed clita amet diam</p>
    </div>
    <div class="px-4 py-5 shadow-shadow-service hover:bg-light-green hover:text-gray-200 hover:delay-175 group">
      <p class="text-5xl text-light-green mb-3 group-hover:text-gray-200 group-hover:delay-175"> <i
          class="pi pi-user"></i></p>
      <h6 class="text-xl font-Nunito font-bold mb-3 group-hover:text-gray-200 group-hover:delay-175">Travel Guides</h6>
      <p class="text-md font-Nunito text-gray-600 group-hover:text-gray-200 group-hover:delay-175">Diam elitr kasd sed
        at elitr sed ipsum justo dolor sed clita amet diam</p>
    </div>
    <div class="px-4 py-5 shadow-shadow-service hover:bg-light-green hover:text-gray-200 hover:delay-175 group">
      <p class="text-5xl text-light-green mb-3 group-hover:text-gray-200 group-hover:delay-175"> <i
          class="pi pi-globe"></i></p>
      <h6 class="text-xl font-Nunito font-bold mb-3 group-hover:text-gray-200 group-hover:delay-175">WorldWide Tours
      </h6>
      <p class="text-md font-Nunito text-gray-600 group-hover:text-gray-200 group-hover:delay-175">Diam elitr kasd sed
        at elitr sed ipsum justo dolor sed clita amet diam</p>
    </div>
    <div class="px-4 py-5 shadow-shadow-service hover:bg-light-green hover:text-gray-200 hover:delay-175 group">
      <p class="text-5xl text-light-green mb-3 group-hover:text-gray-200 group-hover:delay-175"> <i
          class="pi pi-globe"></i></p>
      <h6 class="text-xl font-Nunito font-bold mb-3 group-hover:text-gray-200 group-hover:delay-175">WorldWide Tours
      </h6>
      <p class="text-md font-Nunito text-gray-600 group-hover:text-gray-200 group-hover:delay-175">Diam elitr kasd sed
        at elitr sed ipsum justo dolor sed clita amet diam</p>
    </div>
    <div class="px-4 py-5 shadow-shadow-service hover:bg-light-green hover:text-gray-200 hover:delay-175 group">
      <p class="text-5xl text-light-green mb-3 group-hover:text-gray-200 group-hover:delay-175"> <i
          class="pi pi-globe"></i></p>
      <h6 class="text-xl font-Nunito font-bold mb-3 group-hover:text-gray-200 group-hover:delay-175">WorldWide Tours
      </h6>
      <p class="text-md font-Nunito text-gray-600 group-hover:text-gray-200 group-hover:delay-175">Diam elitr kasd sed
        at elitr sed ipsum justo dolor sed clita amet diam</p>
    </div>
    <div class="px-4 py-5 shadow-shadow-service hover:bg-light-green hover:text-gray-200 hover:delay-175 group">
      <p class="text-5xl text-light-green mb-3 group-hover:text-gray-200 group-hover:delay-175"> <i
          class="pi pi-globe"></i></p>
      <h6 class="text-xl font-Nunito font-bold mb-3 group-hover:text-gray-200 group-hover:delay-175">WorldWide Tours
      </h6>
      <p class="text-md font-Nunito text-gray-600 group-hover:text-gray-200 group-hover:delay-175">Diam elitr kasd sed
        at elitr sed ipsum justo dolor sed clita amet diam</p>
    </div>
  </div>
</div>
