<!-- ----------------------------file---------------------------=----------------------------- -->
<div class="field col-12 md:col-6">
    <p-fileUpload
        name="file[]"
        [customUpload]="true"
        invalidFileSizeMessageSummary="{0}: Vượt quá dung lượng cho phép!"
        chooseLabel="Chọn tệp"
        uploadLabel="Tải lên"
        cancelLabel="Hủy"
        [auto]="true"
        [multiple]="true"
        (uploadHandler)="choseFile($event)"
        (onRemove)="removeFile($event)"
    ></p-fileUpload>
</div>
