<div class="grid col-12">
    <div class="row">
        <div class="col-12">
            <label>
                <input
                    type="file"
                    class="text-nowrap text-truncate"
                    (change)="selectFile($event)"
                />
            </label>
            <button
                type="button"
                pButton
                pRipple
                label="Upload"
                icon="pi pi-upload"
                class="p-button-info ml-2"
                pTooltip="Upload"
                tooltipPosition="top"
                [disabled]="!selectedFiles"
                (click)="upload()"
            ></button>
        </div>
    </div>

    <div *ngIf="percentage > 0 && percentage < 100" class="col-12">
        <p-progressBar [value]="percentage"></p-progressBar>
    </div>
</div>

<div class="card col-12">
    <p-table
        #dt
        [value]="item.Images"
        dataKey="Name"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="{first}-{last}/{totalRecords}"
        [globalFilterFields]="['Name']"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-right ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt1.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Tìm kiếm"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Name" style="width: 20%">
                    Name <p-sortIcon field="Name"></p-sortIcon>
                </th>
                <th>Ảnh</th>
                <th>Dung lượng</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
                <td>{{ row.Name }}</td>
                <td>
                    <p-image
                        [src]="row.Url"
                        [alt]="row.Name"
                        width="50"
                        [preview]="true"
                    ></p-image>
                </td>
                <td>{{ formatBytes(row.Size) }}</td>
                <td>
                    <button
                        pButton
                        pRipple
                        [rounded]="true"
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"
                        (click)="delete(row)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
